### Unity generated folders (no se suben al repo)
/Library/
/Temp/
/Obj/
/Logs/
/UserSettings/
/MemoryCaptures/

### IDE / tooling
/.vs/
/*.csproj
/*.sln
/*.suo
/*.user
/*.userprefs

### Build artefacts
/Build/
/Builds/
/ExportedObj/
/bin/
/obj/

### TextMesh Pro
/Assets/TextMesh Pro/Resources/

### Otros
/*.apk
/*.aab
/*.unitypackage

